.picker-select-elements .form-item, .picker-select-elements .form-actions {
  display: inline-block;
  vertical-align: top;
}

.picker-select-elements .form-actions {
  margin-left: 15px;
}

.picker-select-elements .form-select {
  width: 150px;
}

.picker-select-elements .form-actions a {
  display: block;
  clear: both;
  width: 75px;
}
